# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
### 1. Python
### 2. SQL
### 3. R

## Some of the commonly used libraries used by Data Scientists include:
### 1. Numpy
### 2. Panda
### 3. Matplotlib

|Data Science Tools|
|-------------|
|Python|
|Jupyter|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
## This will convert 200 minutes to hours by diving by 60
Total_min=200
Total_hours=Total_min/60
print(Total_hours)

3.3333333333333335

### Objectives: List popular languages for Data Science
- Python
- R
- SQL

## Author
### Akhil